<!DOCTYPE html>
<html lang="en">
  <head>
    {% set current_user = session.current_user %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>People Blogs</title>
    
    <script
      src="https://cdn.socket.io/4.7.2/socket.io.min.js"
      integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
      crossorigin="anonymous"
    ></script>

    <script
      defer
      type="module"
      src="{{ url_for('static', filename='js/header.js') }}"
    ></script>
    <script
      defer
      src="{{url_for('static', filename='js/smoothScrolling.js')}}"
    ></script>
    <script defer src="{{url_for('static', filename='js/popUp.js')}}"></script>
    <script
      defer
      type="module"
      src="{{url_for('static', filename='js/infoSystem.js')}}"
    ></script>
    <script
      defer
      type="module"
      src="{{url_for('static', filename='cleanJS/chatController.js')}}"
    ></script>
    <!-- Bootstrap core CSS -->
    <link
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename='css/clean-blog.min.css')}}"
      rel="stylesheet"
    />
  </head>
    <body class="background" data-dark-mode="{{ DARKMODE}}" data-id="{{auth}}">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('pages.home_page')}}"
            >People Blogs</a
          >

          <div class="justify-content-end">
            {% if new_notification %}
            <a
              class="nav-link btn-notification"
              id="notification-bell"
              type="submit"
              color="black"
            >
              🔔❗
            </a>
            {% else %}
            <a
              class="nav-link btn-notification"
              id="notification-bell"
              type="submit"
            >
              🔔
            </a>
            {% endif %}
            <button
              class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation"
              style="margin-top: 2px"
            >
              Menu
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {% if auth: %}
              <li class="nav-item active">
                <a
                  class="nav-link"
                  href="{{url_for('pages.profile', user_id=current_user.id)}}"
                  style="font-size: medium; color: #395b64"
                  >{{current_user.name}} 👋</a
                >
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.home_page') }}"
                  >Home</a
                >
              </li>
              {% if not auth: %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}"
                  >Register</a
                >
              </li>
              {% else: %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}"
                  >Log Out</a
                >
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.about') }}"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages.contact') }}"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                {% if not DARKMODE: %}
                <a class="nav-link light-btn" style="cursor: pointer"
                  >🌙Dark Mode</a
                >
                {% else %}
                <a class="nav-link light-btn" style="cursor: pointer"
                  >🌞Light Mode</a
                >
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--CHAT MODEL-->
      <div
        class="modal chat-modal edit-modal"
        id="chat-modal"
        style="color: black"
      >
        <div class="modal-header chat-header">
          <div class="title">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <button
                type="button"
                id="chat-button-title"
                class="btn btn-outline-primary title-btn"
              >
                Chat
              </button>
              <button
                type="button"
                id="friends-button-title"
                class="btn btn-outline-primary title-btn"
              >
                Friends
              </button>
            </div>
          </div>
          <button data-close-button class="close-button">&times;</button>
        </div>

        <div class="chat-modal-body chat-sizing" id="chat-body">
          <div class="chat-container chat-sizing">
            <div class="row chat-row chat-sizing">
              <div class="col-3 friends chat-sizing">
                <div
                  class="btn-group-vertical btn-group-friends"
                  id="friends"
                ></div>
              </div>
              <div
                class="col col-9 chat-area chat-sizing"
                id="chat-area"
              >
                <div class="chat-title">
                </div>
                <p class="message-begin">Choose a friend to message</p> 
                <div class="chat col-9 chat-sizing overflow-auto" id="chat" data-id=""></div>
                <div class="input-group input-message hidden">
                  <input type="text" class="form-control message-input" placeholder="message">
                  <button class="btn btn-success btn-input" type="button" style="padding: 0.375rem 0.75rem;">send
                  </button>
               </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="friend-modal-body hidden" id="friends-body">
          <div class="row search-friends-row">
            <div class="col input-group friends-search-col">
              <input
                class="form-control bar-search"
                id="friends-input"
                type="text"
                autocomplete="off"
                placeholder="Search Users"
              />
              <button
                class="btn btn-outline-info btn-search"
                type="submit"
                id="friends-submit"
              >
                🔍
              </button>
            </div>
          </div>
          <div class="container overflow-auto" id="friends-container"></div>
        </div>
      </div>

      <div id="overlay"></div>

      <!--Notifications MODAL-->
      <div
        class="modal notification-modal overflow-auto"
        id="notification-modal"
        style="color: black"
      >
        <div class="modal-header">
          <div class="title">Notifications</div>
          <button data-close-button class="close-button">&times;</button>
        </div>

        <div class="modal-body overflow-auto">
          <div class="cotainer">
            <div id="notifications-container"></div>
          </div>
        </div>
      </div>

      <!--CONFIRMATION MODEL-->

      <div class="modal" id="modal" style="color: black">
        <div class="modal-header">
          <div class="title">Confirmation</div>
          <button data-close-button class="close-button">&times;</button>
        </div>

        <div class="modal-body"></div>
      </div>

      {% if auth %}
      <div class="chat-btn-container">
        <button class="btn btn-primary btn-chat" id="chat-btn">💬</button>
      </div>
      {% endif %}
    </body>
  </body>
</html>
