{% include "header.html" %}
<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>{{blog.name}}
                  {% if user.id == admin_user.id %}
                  <a about="edit-blog" id="edit-image" href="{{url_for('edit_blog', blog_id=blog.id)}}">✐</a>
                  {% endif %}
               </h1>
               <span class="subheading">{{blog.description | safe}}</span>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Main Content -->
<div class="container" style="margin-bottom: 5rem;">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         {% if not all_posts: %}
         <div style="text-align: center;">
            {% if current_user.id == admin_user.id %}
            <p>
               Look at this empty blog, maybe someone can fill it up with posts 🤔
            </p>
            {% else: %}
            <p>
               It seems that the creator hasn't posted anything yet 😖
            </p>
            <p>
               Log in to your account at the top to create your own blog!
            </p>
            {% endif %}
         </div>

         {% else: %}
         {% for post in all_posts %}
         <div class="post-preview">
            <a href="{{ url_for('show_post', post_id=post.id, raise_view=1) }}">
               <h2 class="post-title">
                  {{post.title}}
               </h2>
               <h6> 👁️{{post.views}}</h6>
            </a>
            {% if user.id == admin_user.id %}
            <a href="{{url_for('delete_post', post_id=post.id, blog_id=blog.id)}}">
               <button type="button" class="btn btn-delete btn-outline-danger float-right">Delete post</button>
            </a>
            {% endif %}
            <a href="{{ url_for('show_post', post_id=post.id, raise_view=1) }}">
               <h4 class="post-subtitle">
                  {{post.subtitle}}
               </h4>
            </a>

            <p class="post-meta">Posted by
               <a href="#">{{admin_user.name}}</a>
               on {{post.date}}
            </p>
         </div>
         {% endfor %}
         {% endif %}

         {% if user.id == admin_user.id or all_posts|length > 1 %}
         <hr style="margin-top: 5rem;">
         {% endif %}


         <!-- New Post -->
         {% if user.id == admin_user.id %}
            <div class="row">
               <div class="col col-lg-6 col-md-6 col-sm-4">
                  <a href="{{url_for('delete_blog', blog_id=blog.id)}}">
                     <button type="button" class="btn btn-new-post btn-danger float-left">Delete Blog</button>
                  </a>
               </div>
               <div class="col col-lg-6 col-md-6 col-sm-8">
                  <div class="clearfix">
                     <a class="btn btn-new-post btn-primary float-right" href="{{url_for('add_new_post', blog_id=blog.id)}}">Create
                        New Post</a>
                  </div>
               </div>
            </div>
         {% endif %}
      </div>
   </div>
</div>
<hr>

{% include "footer.html" %}