{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
{% set current_user = session.current_user %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading" style="text-align: center;">
               <h1>{{post.title}}</h1>
               <h2 class="subheading">{{post.subtitle}}</h2>
               <span class="meta">Posted by
              <a href="#">{{post.blog.author.name}}</a>
              on {{post.date}}</span>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Post Content -->
<article>
   <div class="container-fluid">
      <div class="clearfix">
         {% if DARKMODE: %}
         <a data-type="btn-info" class="btn btn-filled btn-outline-light float-left go-back"
            href="{{url_for('pages.get_all_posts', blog_id=post.blog_id)}}">⤣ Go Back</a>
         {% else %}
         <a data-type="btn-info" class="btn btn-filled btn-info float-left go-back"
            href="{{url_for('pages.get_all_posts', blog_id=post.blog_id)}}">⤣ Go Back</a>
         {% endif %}

      </div>
      <div class="row">
         <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            {{ post.body|safe }}
            <hr class="hor-line" style="margin-top: 3rem;">
            {% if current_user.id == post.blog.author_id %}
            <div class="clearfix">
               {% if DARKMODE: %}
               <a data-type="btn-primary" class="btn btn-filled btn-outline-light float-right"
                  href="{{url_for('pages.edit_post', blog_id=post.blog_id, post_id=post.id)}}">Edit Post</a>
               {% else %}
               <a data-type="btn-primary" class="btn btn-filled btn-primary float-right"
                  href="{{url_for('pages.edit_post', blog_id=post.blog_id, post_id=post.id)}}">Edit Post</a>
               {% endif %}

            </div>
            {% endif %}


            <!--           Comments Area -->
            <h3 style="margin-top: 10rem;">Comments</h3>
            <div class="col-lg-8 col-md-10 mx-auto comment">
               <ul class="commentList">
                  <li>
                     {% for comment in comments: %}
                     <div class="commenterImage">
                        <img src="{{ comment.author.email | gravatar }}"/>
                     </div>
                     <div class="commentText">
                        <p>{{ comment.text|safe }}</p>
                        <span class="date sub-text">{{comment.author.name}}</span>
                     </div>
                     {% endfor %}
                  </li>
               </ul>
            </div>
            {% if is_authenticated
: %}
            <div style="font-weight: 900;">
               {{ ckeditor.load(pkg_type="basic") }}
               {{ ckeditor.config(name='body') }}
               {{ form.csrf_token }}
               {% if DARKMODE: %}
               {{ wtf.quick_form(form, button_map={'submit': 'outline-light'}) }}
               {% else %}
               {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
               {% endif %}
            </div>
            {% else: %}
            <div class="clearfix" style="font-weight: 900; padding: 5rem 0 2rem; text-align: center;">
               Looks like you can't comment!
               To comment you need to join the community.
               <br>
               To join you can register here:
               <br>
               <br>
               {% if DARKMODE: %}
               <a data-type="btn-info" class="btn btn-filled btn-new-post btn-lg btn-outline-light"
                  href="{{ url_for('auth.register') }}" style="text-align: center;">Register</a>
               {% else %}
               <a data-type="btn-info" class="btn btn-filled btn-new-post btn-lg btn-info"
                  href="{{ url_for('auth.register') }}" style="text-align: center;">Register</a>
               {% endif %}
            </div>
         </div>
         {% endif %}


      </div>
   </div>
   </div>
</article>

<hr class="hor-line">
{% include "footer.html" %}