{% include "header.html" %}
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1520809227329-2f94844a9635?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>{{admin_user.name}}'s Profile</h1>
               <span class="subheading">With His Written Blogs</span>
            </div>
         </div>
      </div>
   </div>
</header>

<body>

<div class="container main-content" style="margin-bottom: 5rem;">

   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         {% if not blogs: %}
         <div style="text-align: center;">
            {% if current_user.id == admin_user.id %}
            <p>
               You haven't written any blogs yet, you can start here:
               <a data-type="btn-outline-primary" class="btn btn-new-post btn-outline-success btn-open float-right"
                  href="{{ url_for('login')}}">login</a>
            </p>
            {% else: %}
            <p>
               It seems that the creator hasn't posted anything yet 😖
            </p>
            <p>
               Log in to your account at the top to create your own blog!
            </p>
            {% endif %}
         </div>

         {% else: %}

         {% for blog in blogs %}
         <div class="smooth-scroll">
            <hr style="border-top: 1px solid rgb(0 0 0 / 20%)">
            <div class="post-preview">
               <a href="{{ url_for('home_page', blog_id=blog.id, raise_view=1) }}">
                  <h2 class="post-title" id="post-title">
                     {{blog.name}}
                  </h2>


               {% if current_user.id == admin_user.id %}

               <button type="button" data-url="{{url_for('delete_post', post_id=post.id, blog_id=blog.id)}}"
                       data-context="delete your post" class="btn btn-delete btn-outline-danger float-right">
                  Delete
                  blog
               </button>
               {% endif %}

               {% if blog.description | length > 64 %}

                  <h4 class="post-subtitle">
                     {{blog.description[0: 64].replace('</p>', '').replace('<p>', '')}}...
                  </h4>
               {% else %}
                  <h4 class="post-subtitle">
                     {{blog.description.replace('</p>', '').replace('<p>', '')}}
                  </h4>
               {% endif %}
               </a>

               <div class="row">
                  <p class="post-meta col col-lg-10 col-md-10 col-sm-10">Posted by
                     <a href="{{ url_for('profile', user_id=blog.author_id) }}">{{admin_user.name}}</a>
                     on {{blog.created_date}}
                  </p>
                  <h4 class="col col-lg-2 col-md-2 col-sm-4 views"> {{blog.views}} 👁️</h4>
               </div>
            </div>
         </div>

         {% endfor %}
         {% endif %}

         {% if current_user.id == admin_user.id or all_posts|length > 1 %}
         <hr class="smooth-scroll" style="margin-bottom: 5rem; border-top: 1px solid rgb(0 0 0 / 20%)">
         {% endif %}
      </div>
   </div>
</div>
<hr>
</body>


{% include "footer.html"%}