<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Guy's Personal Site</title>
      <link rel="stylesheet" href="../static/CSS/Expanded_Page.css">
   </head>
   <body>
      <table cellspacing="20">
         <tr>
            <td>
               <img src="../static/Images_expanded/my_picture.jpg" alt="Guy Newman's picture">
            </td>
            <td>
               <h1>Guy Newman</h1>
               <p><em>Just a Normal Dude in His journey to Learn
                  <a href="https://en.wikipedia.org/wiki/Computer_science">computer science</a></em></p>
               <p>This is my bio, yea I know it's empty, I don't have much to tell.</p>
            </td>
         </tr>
      </table>
      <hr>
      <h3>My Education</h3>
      <ul>
         <li>I attended "Tora and Mada", and I am mostly a self-taught developer.</li>
         <li>I studied C# for 2 years in school and online via courses,
            did projects and a 15 unit Bagrut in computer science</li>
         <li>I studied Python for more than 6 months, via YouTube and a 100-day online course in Udemy,
             and I did ten's of projects, such as bots and games.</li>
         <li>I completed most of the book "C++ Programming Language Third Edition"-Bjarne Stroustrup,
             and the assignments in it.</li>
         <!--I attended "Tora and Mada", and I am mostly a self-taught developer.<br>
            I studied C# for 2 years in school and I studied online for 6 months via courses.<br>
            Also, I did many projects and a 15 unit Bagrut in computer science. (Worked really hard on that 😅)<br>
            I studied Python for more than 6 months, via YouTube and a 100-day online course in Udemy.<br>
            While going through the course I did ten's of projects, such as bots and games. -->
      </ul>
      <hr>
      <h3>My Hobbies:</h3>
      <ol>
         <li>I <strong>LOVE</strong> playing basketball, in my spare time.</li>
         <li>I love building and crafting machines and airplanes.</li>
         <li>I love studying computer science and using it for data analyses, games and such.</li>
      </ol>
      <hr>
      <h3>My Work Experience</h3>
      <table cellspacing="10">
         <thead>
            <tr>
               <th>Dates</th>
               <th>Jobs</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>2021-2022</td>
               <td>Barista, Chef, Cashier, Manager Helper</td>
            </tr>
         </tbody>
      </table>
      <hr>
      <h3>My Skills</h3>
      <table cellspacing="5">
         <tr>
            <td>Web Develepor</td>
            <td>⭐⭐⭐⭐</td>
            <td>Barista</td>
            <td>⭐⭐⭐⭐</td>
         </tr>
         <tr>
            <td>Data Analyst</td>
            <td>⭐⭐⭐</td>
            <td>chef</td>
            <td>⭐⭐</td>
         </tr>
         <tr>
            <td>Petting Dogs</td>
            <td>⭐⭐⭐⭐⭐</td>
            <td>Engineer</td>
            <td>⭐⭐⭐⭐</td>
         </tr>
      </table>
      <hr>
      <a href="../static/Contact.html">Contact Me</a>
   </body>
</html>
